<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddStatusServlet</servlet-name>
        <servlet-class>StaffAddStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchRepairingStatus</servlet-name>
        <servlet-class>StaffSearchRepairingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteStatusServlet</servlet-name>
        <servlet-class>StaffDeleteStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffGenerateReceipt</servlet-name>
        <servlet-class>StaffGenerateReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchDeviceServlet</servlet-name>
        <servlet-class>StaffSearchDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterDeviceServlet</servlet-name>
        <servlet-class>StaffRegisterDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustSearchRepairingStatus</servlet-name>
        <servlet-class>CustSearchRepairingStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddStatusServlet</servlet-name>
        <url-pattern>/StaffAddStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchRepairingStatus</servlet-name>
        <url-pattern>/StaffSearchRepairingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteStatusServlet</servlet-name>
        <url-pattern>/StaffDeleteStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffGenerateReceipt</servlet-name>
        <url-pattern>/StaffGenerateReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchDeviceServlet</servlet-name>
        <url-pattern>/StaffSearchDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterDeviceServlet</servlet-name>
        <url-pattern>/StaffRegisterDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustSearchRepairingStatus</servlet-name>
        <url-pattern>/CustSearchRepairingStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
